body{
    background-color:#DFF9FE;
    font-family: "Montserrat",sans-serif;
}
h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
}

.portfolio-owner{
    margin: 0 0 0 10px;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Aclonica', sans-serif;
}
.intro-banner{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}
h1{
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.intro-banner img {
    position: absolute;
    bottom: -190px;;
    right: 3px;
    top:1px;
}
img{
    border: 0;
}
.l-side-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 750px;
    background-color: #555;
    opacity: .35;
    z-index: 10;
    

}
ul{
    list-style-type:none;
}

.side-nav>li{
    position:relative;
    top:-5px;
    cursor: pointer;
   
}

.side-nav>li span {
    position: relative;
    top: 3px;
    left: 10px;
    color:blue;
    font-size: 14px;
    font-weight: 300;
    
}
@media only screen and (max-width: 600px) {
    .intro-banner img {
        max-width: 100%;
        height: auto;
        margin-top: 275px;
    }
  }